.category-test-link-btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #f6faff !important;
    padding: 15px !important;
}

.category-test-link-btn:hover {
    color: #f6faff !important;
    background-color: #009D9D !important;
}