.card-course-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    /* Số dòng tối đa muốn hiển thị */
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-course-zoom {
    transition: transform 0.5s ease !important;
}

.card-course-zoom:hover {
    transform: scale(1.1) !important;
    /* Kích thước zoom, tùy chỉnh nếu cần */
}


#btn-course-6:hover {
    background-color: #009D9D;
    border: 0;
}

#btn-course-6:hover #text-6 {
    color: white !important;
}

#btn-course-6:hover #icon-6 {
    color: white !important;
}

#btn-course-7:hover {
    background-color: rgb(85, 187, 126);
    border: 0;
}

#btn-course-7:hover #text-7 {
    color: white !important;
}

#btn-course-7:hover #icon-7 {
    color: white !important;
}

#btn-course-8:hover {
    background-color: rgb(245, 183, 61);
    border: 0;
}

#btn-course-8:hover #text-8 {
    color: white !important;
}

#btn-course-8:hover #icon-8 {
    color: white !important;
}

#btn-course-9:hover {
    background-color: rgb(245, 183, 61);
    border: 0;
}

#btn-course-9:hover #text-9 {
    color: white !important;
}

#btn-course-9:hover #icon-9 {
    color: white !important;
}

#btn-course-10:hover {
    background-color: rgb(61, 179, 218);
    border: 0;
}

#btn-course-10:hover #text-10 {
    color: white !important;
}

#btn-course-10:hover #icon-10 {
    color: white !important;
}

#btn-course-11:hover {
    background-color: rgb(142, 145, 229);
    border: 0;
}

#btn-course-11:hover #text-11 {
    color: white !important;
}

#btn-course-11:hover #icon-11 {
    color: white !important;
}

#btn-course-12:hover {
    background-color: rgb(218, 135, 145);
    border: 0;
}

#btn-course-12:hover #text-12 {
    color: white !important;
}

#btn-course-12:hover #icon-12 {
    color: white !important;
}