.appbar-header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

@media (max-width: 1444px) {
    .appbar-header {
        height: 57px;
    }
}

.appbar-header-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 1100px) {
    .appbar-header-container {
        max-width: 1100px;
    }
}

@media (min-width: 576px) {
    .appbar-header-container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.appbar-header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.appbar-header-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 286px;
    height: 60px;
    position: relative;
    cursor: pointer;
}

@media screen and (max-width: 1444px) {
    .logo {
        width: 200px;
        height: 42px;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        width: 150px;
        height: 42px;
    }
}

.appbar-header-right {
    display: flex;
    align-items: center;
}

.button-appbar-header {
    background-color: orange !important;
    margin-left: 10px !important;
    font-size: 13.5px !important;
    font-weight: 700 !important;
    white-space: nowrap !important;
    transition: transform 0.5s !important;
    border-radius: 10px !important;
    text-transform: capitalize !important;
    padding: 4px 18px !important;
}

.button-appbar-header:hover {
    transform: translateY(-6px) !important;
}

@media (max-width: 1444px) {
    .button-appbar-header {
        font-size: 12px !important;
        border-radius: 10px !important;
    }
}

@media screen and (max-width: 888px) {
    .button-appbar-header {
        font-size: 10px !important;
        border-radius: 10px !important;
    }
}

@media screen and (max-width: 460px) {
    .button-appbar-header {
        padding: 3px 6px !important;
        margin-left: 3px !important;
        font-size: 9px !important;
        border-radius: 10px !important;
    }
}

// Dialog SignIn
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    background-color: transparent !important;
}

#signin {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.signin-form {
    width: 600px;
    border-radius: 20px; // ????
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 610px) {
    .signin-form {
        width: 400px;
    }
}

@media (max-width: 410px) {
    .signin-form {
        width: 300px;
    }

}

.signin-form-content {
    width: 100%;
    padding: 17px;
    margin-left: 30px;
    margin-right: 30px;
}

.signin-form-content-title {
    display: flex;
    width: 100%;
}

.signin-form-content-title-close {
    display: flex;
    justify-content: flex-end;
}

.btn-signin-close {
    box-shadow: 0 4px 10px #e1e6f1;
}

.signin-form-content-title-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #29313a;
    font-size: 24px;
    font-weight: 600;
}

.account-signin {
    display: flex;
    align-items: center;
}

.account-signin-item {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f1f3f5;
    border-radius: 10px;
    background-color: #fbfbfb;
    width: 100%;
    // display: flex;
    // align-items: center;
}

#user {
    border: none;
    padding: 0 10px;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    opacity: 0.5;
}

#user:focus {
    outline: none;
}

.password-signin {
    display: flex;
    align-items: center;
}

.password-signin-item {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f1f3f5;
    border-radius: 10px;
    background-color: #fbfbfb;
    width: 100%;
    // display: flex;
    // align-items: center;
}

#password {
    border: none;
    padding: 0 10px;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    opacity: 0.5;
}

#password:focus {
    outline: none;
}

.forget-password {
    display: flex;
    align-items: center;
}

.forget-password-item p {
    font-size: 18px;
    color: #009c93;
    font-weight: 600;
    margin: 5px 0 30px 0;
    cursor: pointer;
}

.forget-password-item p:hover {
    text-decoration: underline;
}

.btn-signin-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn-signin {
    border-radius: 20px !important;
    background-color: #009c93 !important;
    border-color: #009c93;
    text-transform: none !important;
    font-size: 20px !important;
    padding: 7px 40px !important;
    font-weight: 700 !important;
    margin-top: 10px !important;
    color: white !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    transition: .5s !important;
}

.btn-signin:hover {
    transform: translateY(-5px) !important;
}

.divider-signin {
    padding: 20px 50px;
    color: #898989;
    font-size: 18px;
    font-weight: 400;
}

.btn-signin-container-google {
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn-signin-google {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #333 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    box-shadow: 0 4px 10px rgba(77, 82, 90, .25) !important;
    border-radius: 10px !important;
    margin-top: unset !important;
    margin-bottom: 20px !important;
    padding: 7px 20px !important;
    min-width: 273px !important;
    text-transform: none !important;
    transition: .5s all !important;
}

.btn-signin-google:hover {
    transform: translateY(-5px) !important;
}

.no-account {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

// Phần dialog đăng ký
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    max-width: 800px !important;
}

#signup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.signup-form {
    margin-top: 0px;
    overflow-x: hidden;
    width: 730px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    // align-items: center;
}

.signup-form-content {
    width: 100%;
    padding: 17px;
    margin-left: 30px;
    margin-right: 30px;
}

.signup-form-content-title {
    display: flex;
    width: 100%;
    // margin-top: 70px;
}

.signup-form-content-title-close {
    display: flex;
    justify-content: flex-end;
}

.btn-signup-close {
    box-shadow: 0 4px 10px #e1e6f1;
}

.signup-form-content-title-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #29313a;
    font-size: 24px;
    font-weight: 600;
}

.signup-form-data {
    // padding: 20px 24px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    // align-items: center;
}

.signup-form-data-left {
    width: 50%;
    padding-top: 24px;
    padding-right: 24px;
}

.signup-form-data-right {
    width: 50%;
    padding-top: 24px;
    padding-left: 24px;
}

.signup-form-data-left-container {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.account-signup {
    display: flex;
    align-items: center;
}

.account-signup-item {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f1f3f5;
    background-color: #fbfbfb;
    border-radius: 10px;
    width: 100%;
    // display: flex;
    // align-items: center;
}

.name-signup {
    display: flex;
    align-items: center;
}

.name-signup-item {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f1f3f5;
    background-color: #fbfbfb;
    border-radius: 10px;
    width: 100%;
    // display: flex;
    // align-items: center;
}

.password-signup {
    display: flex;
    align-items: center;
}

.password-signup-item {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f1f3f5;
    background-color: #fbfbfb;
    border-radius: 10px;
    width: 100%;
    // display: flex;
    // align-items: center;
}

.confirm-password-signup {
    display: flex;
    align-items: center;
}

.confirm-password-signup-item {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f1f3f5;
    background-color: #fbfbfb;
    border-radius: 10px;
    width: 100%;
    // display: flex;
    // align-items: center;
}

.mail-signup {
    display: flex;
    align-items: center;
}

.mail-signup-item {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f1f3f5;
    background-color: #fbfbfb;
    border-radius: 10px;
    width: 100%;
    // display: flex;
    // align-items: center;
}

.phone-signup {
    display: flex;
    align-items: center;
}

.phone-signup-item {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f1f3f5;
    background-color: #fbfbfb;
    border-radius: 10px;
    width: 100%;
    // display: flex;
    // align-items: center;
}

.class-signup {
    display: flex;
    align-items: center;
}

.class-signup-item {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f1f3f5;
    background-color: #fbfbfb;
    border-radius: 10px;
    width: 100%;
    // display: flex;
    // align-items: center;
}

.data-signup {
    border: none;
    padding: 0 10px;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
}

.data-signup:focus {
    outline: none;
}

.btn-signup-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn-signup {
    border-radius: 20px !important;
    background-color: #009c93 !important;
    border-color: #009c93;
    text-transform: none !important;
    font-size: 20px !important;
    padding: 7px 40px !important;
    font-weight: 700 !important;
    margin-top: 10px !important;
    color: white !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    transition: .5s !important;
}

.btn-signup:hover {
    transform: translateY(-5px) !important;
}

.divider-signup {
    padding: 20px 50px;
    color: #898989;
    font-size: 18px;
    font-weight: 400;
}

.btn-signup-container-google {
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn-signup-google {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #333 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    box-shadow: 0 4px 10px rgba(77, 82, 90, .25) !important;
    border-radius: 10px !important;
    margin-top: unset !important;
    margin-bottom: 20px !important;
    padding: 7px 20px !important;
    min-width: 273px !important;
    text-transform: none !important;
    transition: .5s all !important;
}

.btn-signup-google:hover {
    transform: translateY(-5px) !important;
}

.no-account-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 0 !important;
}

.error-data {
    border-top: 1px solid red;
    margin: 4px 0 0 0;
    padding: 1px 0 0 0;
    color: red;
    font-size: 12px;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    box-shadow: none !important;
}

@media screen and (max-width: 745px) {
    .signup-form {
        width: 550px;
    }

    .signup-form-data {
        display: block;
    }

    .signup-form-data-left {
        width: 100%;
        padding-right: 0;
    }

    .signup-form-data-right {
        width: 100%;
        padding-left: 0;
    }
}

@media screen and (max-width: 565px) {
    .signup-form {
        width: 450px;
    }

    .signup-form-data {
        display: block;
    }

    .signup-form-data-left {
        width: 100%;
        padding-right: 0;
    }

    .signup-form-data-right {
        width: 100%;
        padding-left: 0;
    }
}

@media screen and (max-width: 460px) {
    .signup-form {
        width: 300px;
    }

    .signup-form-data {
        display: block;
    }

    .signup-form-data-left {
        width: 100%;
        padding-right: 0;
    }

    .signup-form-data-right {
        width: 100%;
        padding-left: 0;
    }
}

.css-6hp17o-MuiList-root-MuiMenu-list {
    padding: 0 !important;
}